<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>{{pageTitle}}</title>
  </head>
  <body>
    {{> header}}
    <h1>Some info about {{name}}</h1>
    <ul>
      <li>Ime: {{name}}</li>
      <li>Broj: {{number}}</li>
      <li>Adresa: {{address}}</li>
      <li>Koord: {{dateT testniData}}
    </ul>
  </body>
</html>
